<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Changeable Theme CV</title>
    <link id="theme-style" rel="stylesheet" href="default-theme.css">
    
</head>
<body>

<div class="container">
    <header>
        <h1 id="firstname"></h1>
        <h1 id="lastname"></h1>
        <p id="what"></p>
    </header>
    <section id="contact">
        <h2 id="info">Contact Information</h2>
        <p>Email: <span id="email"></span></p>
        <p>Phone: <span id="phone"></span></p>
        <p>Address: <span id="address"></span></p>
    </section>
    <section id="edu">
        <h2>Education</h2>
        <p id="eList">Mandakh Univercity, 2024</p>
    </section>

    <section>
        <h2>Experience</h2>
        <div class="job">
            <h3>Web Developer</h3>
            <p>Company</p>
            <p>2024</p>
            <ul>
                <li>Developed responsive web applications using HTML, CSS, and JavaScript.</li>
                <li>Collaborated with designers and backend developers to implement website features.</li>
            </ul>
        </div>
    </section>

    <section>
        <h2>Skills</h2>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
           
        </ul>
    </section>

    <!-- Theme Switcher -->
    <div class="theme-switcher">
        <button onclick="setTheme('default')">Default Theme</button>
        <button onclick="setTheme('dark')">Dark Theme</button>
        <button onclick="setTheme('light')">Light Theme</button>
    </div>
</div>

<script>
    function setTheme(themeName) {
        document.getElementById('theme-style').setAttribute('href', themeName + '-theme.css');
    }
</script>
<script src="script.js"></script>

</body>
</html>