<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume - Laura Martinez</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body class="bg-gray-100 flex justify-center py-8">
    <div class="bg-white shadow-lg flex max-w-4xl w-full">
        <div class="bg-pink-200 text-center p-6 w-1/3">
            <div class="profile-photo mb-6 ">
                <img src="https://media-cldnry.s-nbcnews.com/image/upload/t_fit-760w,f_auto,q_auto:best/newscms/2020_18/3334436/200502-kylie-jenner-think-cs-1135a.jpg"
                 alt="Laura Martinez" class="rounded-full w-32 h-32 mx-auto border-4 border-rgb(0, 206, 209)">
            </div>
            <h2 class="text-2xl font-bold mb-2">LAURA MARTINEZ</h2>
            <p class="text-gray-700 mb-6">Web & Graphic Designer</p>
            <div class="bg-teal-300 p-4 rounded-lg text-left mb-6">
                <h2 class="text-xl font-semibold mb-4">CONTACT</h2>
                <p><i class="fa-solid fa-phone"></i> Phone: 39 3898 2442</p>
                <p class="text-sm"><i class="fa-solid fa-envelope"></i> Mail: lauramartinez
                    @gmail.com</p>
                <p><i class="fa-solid fa-address-book"></i> Address: 19 Street Name, Fileisland, US.</p>
            </div>
            <div class="skills mb-6">
                <h2 class="text-xl font-semibold mb-4">My Skills</h2>
                <p>Adobe Photoshop</p>
                <div class="w-full bg-gray-300 rounded-full h-2.5 mb-4">
                    <div class="bg-black h-2.5 rounded-full" style="width: 90%"></div>
                </div>
                <p>Corel Draw</p>
                <div class="w-full bg-gray-300 rounded-full h-2.5 mb-4">
                    <div class="bg-teal-500 h-2.5 rounded-full" style="width: 70%"></div>
                </div>
                <p>After Effect</p>
                <div class="w-full bg-gray-300 rounded-full h-2.5 mb-4">
                    <div class="bg-teal-500 h-2.5 rounded-full" style="width: 60%"></div>
                </div>
                <p>Adobe Illustrator</p>
                <div class="w-full bg-gray-300 rounded-full h-2.5 mb-4">
                    <div class="bg-teal-500 h-2.5 rounded-full" style="width: 80%"></div>
                </div>
                <p>Indesign</p>
                <div class="w-full bg-gray-300 rounded-full h-2.5 mb-4">
                    <div class="bg-teal-500 h-2.5 rounded-full" style="width: 50%"></div>
                </div>
                <p>HTML</p>
                <div class="w-full bg-gray-300 rounded-full h-2.5">
                    <div class="bg-teal-500 h-2.5 rounded-full" style="width: 75%"></div>
                </div>
            </div>
            <div class="reference">
                <h2 class="text-xl font-semibold mb-4">Reference</h2>
                <p>LAUTARO MENDEZ</p>
                <p>CEO Company Name</p>
                <p><i class="fa-solid fa-phone"></i> Phone: 81 3545 9999</p>
                <p><i class="fa-solid fa-envelope"></i>Mail: lautaroMendez @gmail.com</p>
            </div>
        </div>
        <div class="p-6 w-2/3">
            <div class="about mb-8">
                <h2 class="text-2xl font-semibold mb-4">About Me</h2>
                <p class="text-gray-700">Lorem ipsum dolor sit amet, minimall consectetur adipiscing lore ostrud. Inis quisam consecteturada adipiling in lostrud. ntas issiai utily laoreet esgal euis mod isi tincidunt the lorem ostrud. ntas issiai.</p>
            </div>
            <div class="education mb-8">
                <h2 class="text-2xl font-semibold mb-4">Education</h2>
                <div class="mb-4">
                    <p class="font-bold">2011 - 2013</p>
                    <p class="text-teal-500 font-bold">Master Of Degree</p>
                    <p>University Name</p>
                    <p>Lorem ipsum dolor sit amet, minimall consectetur adipiscing lore ostrud.</p>
                </div>
                <div>
                    <p class="font-bold">2009 - 2011</p>
                    <p class="text-teal-500 font-bold">Bachelor Of Degree</p>
                    <p>University Name</p>
                    <p>Lorem ipsum dolor sit amet, minimall consectetur adipiscing lore ostrud.</p>
                </div>
            </div>
            <div class="work-experience">
                <h2 class="text-2xl font-semibold mb-4">Work Experience</h2>
                <div class="mb-4">
                    <div class="flex justify-between text-gray-600">
                        <p class="font-bold">July 2017</p>
                        <p class="font-bold">June 2020</p>
                    </div>
                    <p class="text-teal-500 font-bold">LEAD GRAPHIC DESIGNER</p>
                    <p>Company Name</p>
                    <ul class="list-disc list-inside">
                        <li>Lorem ipsum dolor sit amet, cossectetuer That</li>
                        <li>Adipisicing ostrudiamon nonumy euis mod That</li>
                        <li>Adipisicing ostrudiamon nonumy euis mod That</li>
                    </ul>
                </div>
                <div class="mb-4">
                    <div class="flex justify-between text-gray-600">
                        <p class="font-bold">July 2015</p>
                        <p class="font-bold">June 2017</p>
                    </div>
                    <p class="text-teal-500 font-bold">UI / UX DESIGNER</p>
                    <p>Company Name</p>
                    <ul class="list-disc list-inside">
                        <li>Lorem ipsum dolor sit amet, cossectetuer That</li>
                        <li>Adipisicing ostrudiamon nonumy euis mod That</li>
                        <li>Adipisicing ostrudiamon nonumy euis mod That</li>
                    </ul>
                </div>
                <div>
                    <div class="flex justify-between text-gray-600">
                        <p class="font-bold">July 2013</p>
                        <p class="font-bold">June 2015</p>
                    </div>
                    <p class="text-teal-500 font-bold">BRANDING DESIGNER</p>
                    <p>Company Name</p>
                    <ul class="list-disc list-inside">
                        <li>Lorem ipsum dolor sit amet, cossectetuer That</li>
                        <li>Adipisicing ostrudiamon nonumy euis mod That</li>
                        <li>Adipisicing ostrudiamon nonumy euis mod That</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>